* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    font-size:62.5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.container {
    border: 3px solid black;
    width:70%;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: rgb(219, 63, 198);
    text-align:center
}

.esa {
    color: white;
    background-color: blue;
    font-weight: bolder;
    box-shadow: 5px 0px 3px 3px black;
    font-size: 1.6rem;
}